body{ 
  background-color: #fff;
}
/*The nav*/
.navitems{
  display:flex;
  justify-content: center;
    align-items:center;
    font-family: Arial, sans-serif;
}

.navitems li  {
  list-style: none;
  margin: 7%;  
  margin-top: 3%;
}

.navitems li :hover,.links a{
  color: #A38C82;
}

.navitems li a {
  font-size: 25px;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;

  text-decoration: none;
  text-transform: capitalize;
}
.ctext{
  display: flex;
    justify-content: center;
    align-items:center;
    font-family: Arial, sans-serif;
}
form{
   display: flex;
    justify-content: center;
    align-items:center;
    font-family: Arial, sans-serif;
  }
  form{ 
    
    margin-top:0% ;
    margin-bottom:7% ;
    width: 100%;
    font-size: 18px;
  }
  form h1{

    text-align: center;
  }
  
  form label{
    display: flex;
    margin-bottom:10px;
  }
  form input, form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 40px;
  
  }
 .ctext{
  margin-bottom:10%;
  font-size: x-large;

 }
  form button{
    background: #A38C82;
    color: white;
    padding: 10px 15px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
  }
  form button:hover{
    background: #000000;
  }
  footer {
    display:flex;
    justify-content: center;
    width: 100%;
    background-color: #000000;
    color: #fff;
    font-family: poppins;
    font-size: 15px;
    text-align: center;
    padding: 30px 0;
}
